Plugins/Finances.NET.TransactionsReport.Plugin/DataSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Account" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Created"/>
              <xs:element type="xs:string" name="Currency"/>
              <xs:element name="Operations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Op" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ID" use="optional"/>
                            <xs:attribute type="xs:string" name="Date" use="optional"/>
                            <xs:attribute type="xs:string" name="Commentary" use="optional"/>
                            <xs:attribute type="xs:short" name="Credit" use="optional"/>
                            <xs:attribute type="xs:short" name="Debit" use="optional"/>
                            <xs:attribute type="xs:string" name="Type" use="optional"/>
                            <xs:attribute type="xs:string" name="Budget" use="optional"/>
                            <xs:attribute type="xs:string" name="Monthly" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Budgets">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="B" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>